<div class="page-header">
  <h1 class='big-header'><%= @project.title %>.</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <%= image_tag @project.pictures.first.image.url(:large), class: 'img-responsive img-rounded' %>
  </div>
  <div class='well col-md-6'>
    <p><%= simple_format(@project.description) %></p>
    <% @project.pictures.each do |p| %>
      <%= image_tag p.image.url(:thumb) %>
    <% end %>
  </div>
  <%= link_to "edit post", edit_project_path(@project), class: 'btn btn-primary btn-md' %>
</div>